<p id="notice"><%= notice %></p>

<p>
  <strong>Software:</strong>
  <%= link_to @software.name, @software %>
</p>

<p>
  <strong>License user:</strong>
  <%= @license.license_user %>
</p>

<p>
  <strong>License:</strong>
  <%= @license.license %>
</p>

<p>
  <strong>User count:</strong>
  <%= @license.user_count %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @license.purchase_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @license.cost %>
</p>

<p>
  <strong>Allocated Count:</strong>
  <%= @license.used_count %>
</p>

<%= link_to 'Allocate', new_license_allocation_path(@license) %> |
<%= link_to 'Edit', edit_software_license_path(@software, @license) %> |
<%= link_to 'Back', software_licenses_path(@software) %>
