<div class="page">
  <%= link_to_back %>
<p>
  <strong>Software:</strong>
  <%= link_to @software.name, @software %>
</p>

<p>
  <strong>License user:</strong>
  <%= @license.license_user %>
</p>

<p>
  <strong>License:</strong>
  <%= @license.license %>
</p>

<p>
  <strong>User count:</strong>
  <%= @license.user_count %>
</p>

<p>
  <strong>Purchase date:</strong>
  <%= @license.purchase_date %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @license.cost %>
</p>

<p>
  <strong>Allocated Count:</strong>
  <%= @license.used_count %>
</p>


<p>
  <strong>State:</strong>
  <% if @license.active? %><span class="label label-success">Active</span><%else%><span class="label label-danger">Inactive</span><%end%>
</p>

<%= link_to 'Allocate', new_license_allocation_path(@license), class: 'btn btn-default' %>
<%= link_to_edit edit_software_license_path(@software, @license) %>

<h1>Listing allocations</h1>

<table>
  <thead>
  <tr>
    <th>Software</th>
    <th>License</th>
    <th>User</th>
    <th>Project code</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @license.allocations.each do |allocation| %>
      <tr>
        <td><%= link_to allocation.license.software.name, allocation.license.software %></td>
        <td><%= allocation.license_id %></td>
        <td><%= allocation.user.name %> (<%=allocation.user.email%>) </td>
        <td><%= allocation.project_code %></td>
        <td><% if allocation.active? %><span class="label label-success">Active</span><%else%><span class="label label-danger">Inactive</span><%end%></td>
        <td><%= link_to 'Show', license_allocation_path(@license, allocation) %></td>
        <td><%= link_to_edit edit_license_allocation_path(@license, allocation) %></td>
        <td><%= link_to_destroy license_allocation_path(@license, allocation) %></td>
      </tr>
  <% end %>
  </tbody>
</table>

    </div>
