<h1>Listing allocations</h1>

<table>
  <thead>
    <tr>
      <th>License</th>
      <th>User</th>
      <th>Project code</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td><%= allocation.license_id %></td>
        <td><%= allocation.user_id %></td>
        <td><%= allocation.project_code %></td>
        <td><%= link_to 'Show', license_allocation_path(@license, allocation) %></td>
        <td><%= link_to 'Edit', edit_license_allocation_path(@license, allocation) %></td>
        <td><%= link_to 'Destroy', license_allocation_path(@license, allocation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_license_allocation_path(@license) %>
