<h1>Listing allocations</h1>
<p>
  Download:
  <%= link_to "CSV", license_allocations_path(format: "csv") %>
</p>
<table>
  <thead>
    <tr>
      <th>Software</th>
      <th>License</th>
      <th>User</th>
      <th>Project code</th>
      <th>State</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @allocations.each do |allocation| %>
      <tr>
        <td><%= link_to allocation.license.software.name, allocation.license.software %></td>
        <td><%= link_to allocation.license.license_user, software_license_path(@license.software, @license) %></td>
        <td><%= allocation.user.name %></td>
        <td><%= allocation.project_code %></td>
        <td><% if allocation.active? %><span class="label label-success">Active</span><%else%><span class="label label-danger">Inactive</span><%end%></td>
        <td><%= link_to 'Show', license_allocation_path(@license, allocation) %></td>
        <td><%= link_to 'Edit', edit_license_allocation_path(@license, allocation) %></td>
        <td><%= link_to 'Destroy', license_allocation_path(@license, allocation), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Allocation', new_license_allocation_path(@license) %>
