<p id="notice"><%= notice %></p>

<p>
  <strong>License:</strong>
  <%= @allocation.license_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @allocation.user_id %>
</p>

<p>
  <strong>Project code:</strong>
  <%= @allocation.project_code %>
</p>

<%= link_to 'Edit', edit_license_allocation_path(@license, @allocation) %> |
<%= link_to 'Back', license_allocations_path(@license) %>
