<div class="page">
  <h1>Listing users</h1>

  <table>
    <thead>
    <tr>
      <th>UID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Licenses</th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <% @users.each do |user| %>
        <tr>
          <td><%= user.uid %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.role.name %></td>
          <td><%= user.allocations.count %></td>
          <td><%= link_to 'Show', user, class: 'btn btn-default' %>
              <%= link_to_edit edit_user_path(user) %>
              <%= link_to_destroy user %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <div class="pagination-menu">
    <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
  </div>

</div>