<div class="software-item">
  <div class="body">
    <div class="header">
        <span class="title"><%= link_to software.name, software %></span>
        <% if current_user.can?(:softwares, :edit) %>
            <span class="edit">
              <a href="<%= edit_software_path(software) %>"><i class="glyphicon glyphicon-pencil"></i></a>
            </span>
        <% end %>
    </div>
    <% if current_user.can?(:softwares, :edit) %>
        <div class="sub-header-1">
          <span class="label
            <% case software.state %>
            <% when 'approved' %>
                label-success
            <% when 'unapproved' %>
                label-danger
            <% else %>
                label-warning
            <% end %>

          "><%= software.state %></span>
        </div>
    <% end %>
    <div class="sub-header">
      <span class="label"><%= software.operating_system.name %></span>
      <span class="label"><%= download_policy(software) %></span>
      <span class="label"><%= download_count(software) %></span>
    </div>
  </div>

  <div class="right">
    <% if software.download_policy.permit?(software, current_user) %>
        <a class="btn btn-success" href="<%= download_software_path(software) %>"><span>Download</span><i class="glyphicon glyphicon-download"></i></a>
        <% unless software.download_policy.class == DownloadPolicy %>
            <a class="btn btn-info" href="<%= owned_software_licenses_path(software) %>"><span>License</span><i class="glyphicon glyphicon-book"></i></a>
        <% end %>
    <% elsif current_user.requests.where(software_id: software.id).count > 0 %>
        <a class="btn btn-default" href="<%= new_software_request_path(software) %>"><span>Waiting</span><i class="glyphicon glyphicon-time"></i></a>
    <% else %>
        <a class="btn btn-warning" href="<%= new_software_request_path(software) %>"><span>Request</span><i class="glyphicon glyphicon-lock"></i></a>
    <% end %>
  </div>
</div>