<div class="software-item">
  <div class="body">
    <div class="header">
        <span class="title"><%= link_to software.name, software %></span>
        <% if current_user.can?(:softwares, :edit) %>
            <span class="edit">
              <a href="<%= edit_software_path(software) %>"><i class="glyphicon glyphicon-edit"></i></a>
            </span>
        <% end %>
    </div>
    <div class="sub-header"></div>
    <div class="sub-header">
      <span class="label"><%= software.operating_system.name %></span>
      <span class="label"><%= download_policy(software) %></span>
      <span class="label"><%= download_count(software) %></span>
    </div>
  </div>

  <div class="right">
    <% if software.download_policy.permit?(software, current_user) %>
        <a class="btn btn-default" href="<%= download_software_path(software) %>"><span>Download</span><i class="glyphicon glyphicon-download"></i></a>
        <% unless software.download_policy.class == DownloadPolicy %>
            <button class="btn btn-default"><span>License</span><i class="glyphicon glyphicon-book"></i></button>
        <% end %>
    <% else %>
        <button class="btn btn-default"><span>Request</span><i class="glyphicon glyphicon-lock"></i></button>
    <% end %>
  </div>
</div>