<div class="software-item">
  <div class="body">
    <div class="header">
        <span class="title"><%= link_to software.name, software %></span>
        <% if current_user.can?(:softwares, :edit) %>
            <span class="edit">
              <a href="<%= edit_software_path(software) %>"><i class="glyphicon glyphicon-pencil"></i></a>
            </span>
        <% end %>
    </div>
    <% if current_user.can?(:softwares, :edit) %>
        <div class="sub-header-1">
          <span class="label
            <% case software.state %>
            <% when 'approved' %>
                label-success
            <% when 'unapproved' %>
                label-danger
            <% else %>
                label-warning
            <% end %>

          "><%= software.state %></span>
        </div>
    <% end %>
    <div class="sub-header">
      <span class="label"><%= software.operating_system.name %></span>
      <span class="label"><%= download_policy(software) %></span>
      <span class="label"><%= download_count(software) %></span>
    </div>
  </div>

  <div class="right">
    <% if software.download_policy.permit?(software, current_user) %>
        <%= link_to_download software %>
        <% unless software.download_policy.class == DownloadPolicy %>
            <a class="btn btn-info" href="<%= owned_software_licenses_path(software) %>"><span>License</span><i class="glyphicon glyphicon-book"></i></a>
        <% end %>
    <% else %>
        <%= link_to_request_access software %>
    <% end %>
  </div>
</div>