<div class="page" id="showSoftware">

<%= link_to_back softwares_path %>

<p>
  <strong>Name:</strong>
  <%= @software.name %>
</p>

<p>
  <strong>Path:</strong>
  <%= @software.path %>
</p>

<p>
  <strong>Operating system:</strong>
  <%= @software.operating_system.name %>
</p>

<p>
  <strong>State:</strong>
  <%= @software.state %>
</p>

<% if @software.download_policy.permit?(@software, current_user) %>
    <%= link_to_download @software %>
<% else %>
    <%= link_to_request_access @software %>
<% end %>
<%= link_to_edit edit_software_path(@software) %>

<% unless @software.download_policy.class == DownloadPolicy %>
    <%= link_to_licenses @software %>
<% end %>

 <div class="owner-licenses">
<%= render partial: 'licenses/owned_licenses', locals: {licenses: current_user.licenses.where(software_id: @software.id)} %>
 </div>
</div>