<!DOCTYPE html>
<html>
<head>
  <title>SoftwareManager</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-header">
  <div class="content">
    <%= link_to 'Software', softwares_path %>
    | <%= link_to 'Requests', requests_path %>
  </div>
</div>
<div class="content">
  <div id="notification">
    <% if flash[:alert] %>
        <p class="flash-error"><%= flash[:alert] %></p>
    <% end %>
    <% if flash[:notice] %>
        <p class="flash-notice"><%= flash[:notice] %></p>
    <% end %>
  </div>
  <%= yield %>
</div>

</body>
</html>
